flask
flask-cors
gunicorn
pandas>=2.2.0
numpy>=1.26.0
scikit-learn>=1.4.0
joblib
nltk
textblob
vaderSentiment
ultralytics
opencv-python-headless
face-recognition
Pillow
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
cryptography
python-dotenv