# .ebextensions/01-setup.config
option_settings:
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
    PYTHONPATH: /app
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    RetentionInDays: 7
  aws:elasticbeanstalk:container:python:
    NumProcesses: 1
    NumThreads: 4

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          roleName: 
            "Fn::GetOptionSetting":
              Namespace: "aws:elasticbeanstalk:environment"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"